// article

article {
	padding: 2em 1em;
	
	
	a {
		text-decoration: none;		
	}
}

@media screen and (min-width: 700px) {
	article {

		padding: 4em 2em;

		p {
			font-size: 1.8em;
			line-height: 1.6em;
		}

	}
}

.home-post {
	position: relative;

	.article__title {
		margin-bottom: 1em;
	}

	.timeline {
		width: 4em;
		height: 100%;
		position: absolute;
		padding: 15px;
	}

	.article__content p {
		margin: 1em 0;
		padding-left: 5em;
		padding-right: 1em;
	}
}

.home-post:first-child {
	background: $primaryColor;
	color: #fff;

	h1 {
		color: #fff;
		margin-top: 1em;
	}

	.timeline {
		background: linear-gradient(to bottom, $primaryColor 0%,#41a02d 65%); /* W3C */
	}

	.article__content {
		font-weight: 300;
	}
}

.home-post:nth-child(2) {
	background: #41a02d;
	color: #fff;

	h1 {
		color: #fff;
	}

	.timeline {
		background: linear-gradient(to bottom, #41a02d 0%,#eb008c 65%); /* W3C */
	}

	.article__content {
		font-weight: 300;
	}
}

.home-post:nth-child(3) {
	background: #eb008c;
	color: #fff;

	h1 {
		color: #fff;
	}

	.article__content {
		font-weight: 300;
	}
}





/* Article Panels 
**************************************/

.portfolio-post .article__content .panel {;
	display: none;
	height: 280px;
}

.portfolio-post .article__content .isActive.panel {
	display: block;
}




/* Portfolio posts
**************************************/

.portfolio-post {
	background: #eee;
	border-bottom: 3px solid #ddd;
	position: relative;

	.article__title {
		margin-bottom: 1em;
	}

	.article__content {
		padding-right: 9em;
		
		img {
			float: left;
			width: 450px;
			height: auto;
			margin-right: 40px;
		}
	}

	.article__button {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		top: 40%;
		right: 80px;
		margin-top: -50px;
		@extend %shadow-level2;

		i {
			font-size: 2.2em;
			color: #fff;
			padding-left: 2px;
		}
	}

	.article__button:active,
	.article__button:focus {
		outline: none;
	}
}

.portfolio-post:first-child {

	.article__title {
		margin-top: 1em;
	}

	.article__button {
		top: 46%;
	}
}