// buttons

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  border: none;
	  background: #fff;
	  color: #fff;
	  display: inline-block;
	  font-size: 1em;
	  text-decoration: none;
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px; 
	  font-family: 'Roboto', sans-serif;
	  background: $primaryColor;
	  text-decoration: none;
	  @extend %shadow-level1;
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: darken($primaryColor, 10%);
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background: darken($primaryColor, 20%);
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}
